<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BricksetAPIv2Soap" />
      </basicHttpBinding>
      <!--<customBinding>
        <binding name="BricksetAPIv2Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>-->
    </bindings>
    <client>
      <endpoint address="http://brickset.com/api/v2.asmx" binding="basicHttpBinding"
          bindingConfiguration="BricksetAPIv2Soap" contract="ApiV2.BricksetAPIv2Soap"
          name="BricksetAPIv2Soap" />
      <!--<endpoint address="http://brickset.com/api/v2.asmx" binding="customBinding"
          bindingConfiguration="BricksetAPIv2Soap12" contract="ApiV2.BricksetAPIv2Soap"
          name="BricksetAPIv2Soap12" />-->
    </client>
  </system.serviceModel>
</configuration>